<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="h2"><i class="fa fa-users margin-right-small"></i>Users</div>
    <div data-ng-if="!loaded" class="h3">Loading Users list...</div>
    <div data-ng-if="loaded &amp;&amp; allUsers.length" data-ng-repeat="user in allUsers" class="profile margin-bottom-small">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title"><span>{{user.name}}</span><i class="fa pull-right margin-right-small text-150 fa-{{user.logo}}-square"></i></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li>{{user.email}}</li>
                <li>Since: {{user.created | date:'MMM dd, yyyy HH:mm:ss'}}</li>
              </ul>
            </div>
            <div class="col-md-6"><img data-ng-src="{{user.photo}}" alt="User Photo" width="50px" class="margin-left-small pull-right"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
